In [9]:
import requests
url = 'http://www.baidu.com'
print(requests.get(url))

<Response [200]>

In [10]:
res = requests.get(url)
print(res.text)

<!DOCTYPE html>
<!--STATUS OK--><html> <head><meta http-equiv=content-type content=text/html;charset=utf-8><meta http-equiv=X-UA-Compatible content=IE=Edge><meta content=always name=referrer><link rel=stylesheet type=text/css href=http://s1.bdstatic.com/r/www/cache/bdorz/baidu.min.css><title>ç¾åº¦ä¸ä¸ï¼ä½ å°±ç¥é</title></head> <body link=#0000cc> <div id=wrapper> <div id=head> <div class=head_wrapper> <div class=s_form> <div class=s_form_wrapper> <div id=lg> <img hidefocus=true src=//www.baidu.com/img/bd_logo1.png width=270 height=129> </div> <form id=form name=f action=//www.baidu.com/s class=fm> <input type=hidden name=bdorz_come value=1> <input type=hidden name=ie value=utf-8> <input type=hidden name=f value=8> <input type=hidden name=rsv_bp value=1> <input type=hidden name=rsv_idx value=1> <input type=hidden name=tn value=baidu><span class="bg s_ipt_wr"><input id=kw name=wd class=s_ipt value maxlength=255 autocomplete=off autofocus></span><span class="bg s_btn_wr"><input type=submit id=su value=ç¾åº¦ä¸ä¸ class="bg s_btn"></span> </form> </div> </div> <div id=u1> <a href=http://news.baidu.com name=tj_trnews class=mnav>æ°é»</a> <a href=http://www.hao123.com name=tj_trhao123 class=mnav>hao123</a> <a href=http://map.baidu.com name=tj_trmap class=mnav>å°å¾</a> <a href=http://v.baidu.com name=tj_trvideo class=mnav>è§é¢</a> <a href=http://tieba.baidu.com name=tj_trtieba class=mnav>è´´å§</a> <noscript> <a href=http://www.baidu.com/bdorz/login.gif?login&amp;tpl=mn&amp;u=http%3A%2F%2Fwww.baidu.com%2f%3fbdorz_come%3d1 name=tj_login class=lb>ç»å½</a> </noscript> <script>document.write('<a href="http://www.baidu.com/bdorz/login.gif?login&tpl=mn&u='+ encodeURIComponent(window.location.href+ (window.location.search === "" ? "?" : "&")+ "bdorz_come=1")+ '" name="tj_login" class="lb">ç»å½</a>');</script> <a href=//www.baidu.com/more/ name=tj_briicon class=bri style="display: block;">æ´å¤äº§å</a> </div> </div> </div> <div id=ftCon> <div id=ftConw> <p id=lh> <a href=http://home.baidu.com>å³äºç¾åº¦</a> <a href=http://ir.baidu.com>About Baidu</a> </p> <p id=cp>&copy;2017&nbsp;Baidu&nbsp;<a href=http://www.baidu.com/duty/>ä½¿ç¨ç¾åº¦åå¿è¯»</a>&nbsp; <a href=http://jianyi.baidu.com/ class=cp-feedback>æè§åé¦</a>&nbsp;äº¬ICPè¯030173å·&nbsp; <img src=//www.baidu.com/img/gs.gif> </p> </div> </div> </div> </body> </html>

In [11]:
res

In [12]:
pip list

Package                       Version
----------------------------- --------------------
absl-py                       1.1.0
aiohttp                       3.8.1
aiosignal                     1.2.0
alabaster                     0.7.12
Note: you may need to restart the kernel to use updated packages.anaconda-client               1.9.0
anaconda-navigator            2.1.4
anaconda-project              0.10.2

anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.2
astroid                       2.6.6
astropy                       5.0.4
asttokens                     2.0.5
astunparse                    1.6.3
async-timeout                 4.0.1
atomicwrites                  1.4.0
attrs                         21.4.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.9.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.11.1
binaryornot                   0.4.4
bitarray                      2.4.1
bkcharts                      0.2
black                         19.10b0
bleach                        4.1.0
bokeh                         2.4.2
boto3                         1.21.32
botocore                      1.24.32
Bottleneck                    1.3.4
brotlipy                      0.7.0
cachetools                    4.2.2
certifi                       2021.10.8
cffi                          1.15.0
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.0.0
clyent                        1.2.2
colorama                      0.4.4
colorcet                      2.0.6
comtypes                      1.1.10
conda                         4.12.0
conda-build                   3.21.8
conda-content-trust           0+unknown
conda-pack                    0.6.0
conda-package-handling        1.8.1
conda-repo-cli                1.0.4
conda-token                   0.3.0
conda-verify                  3.4.2
constantly                    15.1.0
cookiecutter                  1.7.3
cryptography                  3.4.8
cssselect                     1.1.0
cycler                        0.11.0
Cython                        0.29.28
cytoolz                       0.11.0
daal4py                       2021.5.0
dask                          2022.2.1
datashader                    0.13.0
datashape                     0.5.4
debugpy                       1.5.1
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
distributed                   2022.2.1
docutils                      0.17.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.15.1
filelock                      3.6.0
flake8                        3.9.2
Flask                         1.1.2
flatbuffers                   1.12
fonttools                     4.25.0
frozenlist                    1.2.0
fsspec                        2022.2.0
future                        0.18.2
gast                          0.4.0
gensim                        4.1.2
glob2                         0.7
google-api-core               1.25.1
google-auth                   1.33.0
google-auth-oauthlib          0.4.6
google-cloud-core             1.7.1
google-cloud-storage          1.31.0
google-crc32c                 1.1.2
google-pasta                  0.2.0
google-resumable-media        1.3.1
googleapis-common-protos      1.53.0
greenlet                      1.1.1
grpcio                        1.42.0
h5py                          3.6.0
HeapDict                      1.0.1
holoviews                     1.14.8
hvplot                        0.7.3
hyperlink                     21.0.0
idna                          3.3
imagecodecs                   2021.8.26
imageio                       2.9.0
imagesize                     1.3.0
importlib-metadata            4.11.3
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.5
intervaltree                  3.1.0
ipykernel                     6.9.1
ipython                       8.2.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jdcal                         1.4.1
jedi                          0.18.1
Jinja2                        2.11.3
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.1.0
json5                         0.9.6
jsonschema                    4.4.0
jupyter                       1.0.0
jupyter-client                6.1.12
jupyter-console               6.4.0
jupyter-core                  4.9.2
jupyter-server                1.13.5
jupyterlab                    3.3.2
jupyterlab-pygments           0.1.2
jupyterlab-server             2.10.3
jupyterlab-widgets            1.0.0

In [13]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\lenovo\appdata\roaming\python\python39\site-packages (1.6.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip list

In [ ]:
pip freeze > requirements.txt

In [46]:
pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yarl in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: zict in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (2.0.0)
Requirement already satisfied: zipp in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (3.7.0)
Requirement already satisfied: multidict>=4.0 in c:\programdata\anaconda3\lib\site-packages (from yarl->-r requirements.txt (line 1)) (5.1.0)
Requirement already satisfied: idna>=2.0 in c:\programdata\anaconda3\lib\site-packages (from yarl->-r requirements.txt (line 1)) (3.3)
Requirement already satisfied: heapdict in c:\programdata\anaconda3\lib\site-packages (from zict->-r requirements.txt (line 2)) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [47]:
pip list

Package                       Version
----------------------------- --------------------
absl-py                       1.1.0
aiohttp                       3.8.1
aiosignal                     1.2.0
alabaster                     0.7.12
anaconda-client               1.9.0
anaconda-navigator            2.1.4
anaconda-project              0.10.2
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.2
astroid                       2.6.6
astropy                       5.0.4
asttokens                     2.0.5
astunparse                    1.6.3
async-timeout                 4.0.1
atomicwrites                  1.4.0
attrs                         21.4.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.9.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.11.1
binaryornot                   0.4.4
bitarray                      2.4.1
bkcharts                      0.2
black                         19.10b0
bleach                        4.1.0
bokeh                         2.4.2
boto3                         1.21.32
botocore                      1.24.32
Bottleneck                    1.3.4
brotlipy                      0.7.0
cachetools                    4.2.2
certifi                       2021.10.8
cffi                          1.15.0
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.0.0
clyent                        1.2.2
colorama                      0.4.4
colorcet                      2.0.6
comtypes                      1.1.10
conda                         4.12.0
conda-build                   3.21.8
conda-content-trust           0+unknown
conda-pack                    0.6.0
conda-package-handling        1.8.1
conda-repo-cli                1.0.4
conda-token                   0.3.0
conda-verify                  3.4.2
constantly                    15.1.0
cookiecutter                  1.7.3
cryptography                  3.4.8
cssselect                     1.1.0
cycler                        0.11.0
Cython                        0.29.28
cytoolz                       0.11.0
daal4py                       2021.5.0
dask                          2022.2.1
datashader                    0.13.0
datashape                     0.5.4
debugpy                       1.5.1
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
distributed                   2022.2.1
docutils                      0.17.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.15.1
filelock                      3.6.0
flake8                        3.9.2
Flask                         1.1.2Note: you may need to restart the kernel to use updated packages.

flatbuffers                   1.12
fonttools                     4.25.0
frozenlist                    1.2.0
fsspec                        2022.2.0
future                        0.18.2
gast                          0.4.0
gensim                        4.1.2
glob2                         0.7
google-api-core               1.25.1
google-auth                   1.33.0
google-auth-oauthlib          0.4.6
google-cloud-core             1.7.1
google-cloud-storage          1.31.0
google-crc32c                 1.1.2
google-pasta                  0.2.0
google-resumable-media        1.3.1
googleapis-common-protos      1.53.0
greenlet                      1.1.1
grpcio                        1.42.0
h5py                          3.6.0
HeapDict                      1.0.1
holoviews                     1.14.8
hvplot                        0.7.3
hyperlink                     21.0.0
idna                          3.3
imagecodecs                   2021.8.26
imageio                       2.9.0
imagesize                     1.3.0
importlib-metadata            4.11.3
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.5
intervaltree                  3.1.0
ipykernel                     6.9.1
ipython                       8.2.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jdcal                         1.4.1
jedi                          0.18.1
Jinja2                        2.11.3
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.1.0
json5                         0.9.6
jsonschema                    4.4.0
jupyter                       1.0.0
jupyter-client                6.1.12
jupyter-console               6.4.0
jupyter-core                  4.9.2
jupyter-server                1.13.5
jupyterlab                    3.3.2
jupyterlab-pygments           0.1.2
jupyterlab-server             2.10.3
jupyterlab-widgets            1.0.0
keras                         2.9.0
Keras-Preprocessing           1.1.2
keyring                       23.4.0
kiwisolver                    1.3.2
lazy-object-proxy             1.6.0
libarchive-c                  2.9
libclang                      14.0.1
llvmlite                      0.38.0
locket                        0.2.1
lxml                          4.8.0
Markdown                      3.3.4
MarkupSafe                    2.0.1
matplotlib                    3.5.1
matplotlib-inline             0.1.2
mccabe                        0.6.1
menuinst                      1.4.18
mistune                       0.8.4
mkl-fft                       1.3.1
mkl-random                    1.2.2
mkl-service                   2.4.0
mock                          4.0.3
mpmath                        1.2.1
msgpack                       1.0.2
multidict                     5.1.0
multipledispatch              0.6.0
munkres                       1.1.4
mypy-extensions               0.4.3
navigator-updater             0.2.1
nbclassic                     0.3.5
nbclient                      0.5.13
nbconvert                     6.4.4
nbformat                      5.3.0
nest-asyncio                  1.5.5
networkx                      2.7.1
nltk                          3.7
nose                          1.3.7
notebook                      6.4.8
numba                         0.55.1
numexpr                       2.8.1
numpy                         1.21.5
numpydoc                      1.2
oauthlib                      3.2.0
olefile                       0.46
opencv-python                 4.5.5.64
openpyxl                      3.0.9
opt-einsum                    3.3.0
packaging                     21.3
pandas                        1.4.2
pandocfilters                 1.5.0
panel                         0.13.0
param                         1.12.0
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.2.0
pathspec                      0.7.0
patsy                         0.5.2
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.0.1
pip                           21.2.4
pkginfo                       1.8.2
plotly                        5.6.0
pluggy                        1.0.0
poyo                          0.5.0
prometheus-client             0.13.1
prompt-toolkit                3.0.20
Protego                       0.1.16
protobuf                      3.19.1
psutil                        5.8.0
ptyprocess                    0.7.0
pure-eval                     0.2.2
py                            1.11.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycodestyle                   2.7.0
pycosat                       0.6.3
pycparser                     2.21
pyct                          0.4.6
pycurl                        7.44.1
PyDispatcher                  2.0.5
pydocstyle                    6.1.1
pyerfa                        2.0.0
pyflakes                      2.3.1
Pygments                      2.11.2
PyHamcrest                    2.0.2
PyJWT                         2.1.0
pylint                        2.9.6
pyls-spyder                   0.4.0
PyNaCl                        1.4.0
pyodbc                        4.0.32
pyOpenSSL                     21.0.0
pyparsing                     3.0.4
pyreadline                    2.1
pyrsistent                    0.18.0
PySocks                       1.7.1
pytest                        7.1.1
python-dateutil               2.8.2
python-lsp-black              1.0.0
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.2.4
python-slugify                5.0.2
python-snappy                 0.6.0
pytz                          2021.3
pyviz-comms                   2.0.2
PyWavelets                    1.3.0
pywin32                       302
pywin32-ctypes                0.2.0
pywinpty                      2.0.2
PyYAML                        6.0
pyzmq                         22.3.0
QDarkStyle                    3.0.2
qstylizer                     0.1.10
QtAwesome                     1.0.3
qtconsole                     5.3.0
QtPy                          2.0.1
queuelib                      1.5.0
regex                         2022.3.15
requests                      2.27.1
requests-file                 1.5.1
requests-oauthlib             1.3.1
rope                          0.22.0
rsa                           4.7.2
Rtree                         0.9.7
ruamel-yaml-conda             0.15.100
s3transfer                    0.5.0
scikit-image                  0.19.2
scikit-learn                  1.0.2
scikit-learn-intelex          2021.20220215.102710
scipy                         1.7.3
Scrapy                        2.6.1
seaborn                       0.11.2
Send2Trash                    1.8.0
service-identity              18.1.0
setuptools                    61.2.0
sip                           4.19.13
six                           1.16.0
sklearn                       0.0
smart-open                    5.1.0
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcollections             2.1.0
sortedcontainers              2.4.0
soupsieve                     2.3.1
Sphinx                        4.4.0
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.1.5
spyder-kernels                2.1.3
SQLAlchemy                    1.4.32
stack-data                    0.2.0
statsmodels                   0.13.2
sympy                         1.10.1
tables                        3.6.1
tabulate                      0.8.9
TBB                           0.2
tblib                         1.7.0
tenacity                      8.0.1
tensorboard                   2.9.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.1
tensorflow                    2.9.1
tensorflow-estimator          2.9.0
tensorflow-io-gcs-filesystem  0.26.0
termcolor                     1.1.0
terminado                     0.13.1
testpath                      0.5.0
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2021.7.2
tinycss                       0.4
tldextract                    3.2.0
toml                          0.10.2
tomli                         1.2.2
toolz                         0.11.2
tornado                       6.1
tqdm                          4.64.0
traitlets                     5.1.1
Twisted                       22.2.0
twisted-iocpsupport           1.0.2
typed-ast                     1.4.3
typing_extensions             4.1.1
ujson                         5.1.0
Unidecode                     1.2.0
urllib3                       1.26.9
w3lib                         1.21.0

In [2]:
import cx_Oracle

In [3]:
# conn = cx_Oracle.connect('n_epz_cus','n_epz_cus','192.168.131.125:1521/zmqdevdb')

In [4]:
from enum import unique
class params_global():
    is_test = "True"
    # is_test = "False"

    nodata_exec_status = 2
"""
here to save all read config for Ezpass database
"""
class ezpass_db:
    # @unique
    class Authconfig:
        if params_global.is_test:
            # 测试环境cusrc
            ods_oracle_account = 'CUSRC/easipass'
            oracle_database_dbods = '192.168.129.149:1521/test12c'
            oracle_write_account = 'CUSRC:easipass'
            oracle_write_address = '192.168.129.149:1521/?service_name=test12c'
            oracle_write_account_alarm = 'DW_CUS_RC:easipass'
            oracle_write_address_alarm = '192.168.130.225:1521/?service_name=pdbcusdev'

            # # 测试环境 dw
            dw_oracle_account = 'BI_OPER/easipass'
            oracle_database_dbdw = '192.168.129.179:1521/testdw'

            # 测试环境BD_RISK
            ods_oracle_account = 'BD_RISK/easipass'
            oracle_database_dbods = '192.168.129.149:1521/test12c'
            # oracle_write_account = 'BD_RISK:easipass'
            # oracle_write_address = '192.168.129.149:1521/?service_name=test12c'

            dm_oracle_account = 'BD_RISK/infa4A9F'
            oracle_database_dbdm = '192.168.132.52:1521/dbdm'

            gold_oracle_account = 'n_epz_cus/n_epz_cus'
            oracle_database_gold = '192.168.131.125:1521/zmqwdb'

            alarm_oracle_account = 'DW_CUS_RC/easipass'
            oracle_database_alarm = '192.168.130.225:1521/pdbcusdev'

            lgsa_oracle_account = 'lgsa/lgsa'
            oracle_database_lgsa = '192.168.131.125:1521/zmqwdb'

            testlog_oracle_account = 'BD_RISK/testinfaer'
            oracle_database_testlog = '192.168.129.163:1521/TESTDMAPP'
        else:
            # 生产环境 CUSRC
            # ods_oracle_account = 'CUSRC/infa5F1D'
            # oracle_database_dbods = '192.168.132.12:1521/dbods'
            # oracle_write_account = 'CUSRC:infa5F1D'
            # oracle_write_address = '192.168.132.12:1521/?service_name=dbods'

            # 生产环境 BD_RISK
            oracle_write_account = 'BD_RISK:infa4A9F'
            oracle_write_address = '192.168.132.52:1521/?service_name=dbdm'
            # dbods
            ods_oracle_account = 'CUSRC/infa5F1D'
            oracle_database_dbods = '192.168.132.12:1521/dbods'
            # db_dw
            dw_oracle_account = 'BI_OPER/infa6D83'
            oracle_database_dbdw = '192.168.132.17:1521/dbdw'
            # db_dm
            dm_oracle_account = 'BD_RISK/infa4A9F'
            oracle_database_dbdm = '192.168.132.52:1521/dbdm'

            # Mongodb_config
            mongo_read_oper = 'ods_sens_oper:mgoD52F'
            mongo_ip = '192.168.132.74:27017'
            mongo_database = 'ods_sens_zmxpq'
            mongo_table = 'credit'

In [5]:
# from loguru import logger
import time
import pandas as pd
class Read_Oracle(object):
    def __init__(self):
        self.link = None
        self.account = None

    def read_oracle_df(self, sql):
        print(self.account)
        print(self.link)
        conn = cx.connect(self.account+'@'+self.link, encoding='utf8')
        data_gen = pd.read_sql(con=conn, sql=sql, chunksize=100000)
        gen_list = []
        for gen in data_gen:
            gen_list.append(gen)
        if len(gen_list) ==0:
            print('Sql cannot find table, please check database')
            data_df = None
        else:
            data_df = pd.concat(gen_list)
        return data_df


    def read_oracle(self, sql, database):
        start_time = time.time()
        """
        :arg
            :param sql : 读取的select 脚本
            :param databse ：目标database ； dbods、dbdw、dbdm
        :return
            返回查询的结果dataframe
        """
        sql = sql
        if database == 'dbods':
            self.link = ezpass_db.Authconfig.oracle_database_dbods
            self.account = ezpass_db.Authconfig.ods_oracle_account
        elif database == 'dbdw':
            self.link = ezpass_db.Authconfig.oracle_database_dbdw
            self.account = ezpass_db.Authconfig.dw_oracle_account
        elif database == 'dbdm':
            self.link = ezpass_db.Authconfig.oracle_database_dbdm
            self.account = ezpass_db.Authconfig.dm_oracle_account
        elif database == 'dbgold':
            self.link = ezpass_db.Authconfig.oracle_database_gold
            self.account = ezpass_db.Authconfig.gold_oracle_account
        elif database == 'dbalarm':
            self.link = ezpass_db.Authconfig.oracle_database_alarm
            self.account = ezpass_db.Authconfig.alarm_oracle_account
        elif database == 'dblgsa':
            self.link = ezpass_db.Authconfig.oracle_database_lgsa
            self.account = ezpass_db.Authconfig.lgsa_oracle_account
        elif database == 'testlog':
            self.link = ezpass_db.Authconfig.oracle_database_testlog
            self.account = ezpass_db.Authconfig.testlog_oracle_account
        else:
            print('read_oracle config error, please match your input sql and db')
            return

        data_df = self.read_oracle_df(sql)
        if data_df is None:
            data_df = pd.DataFrame()
        if data_df is not None:
            data_df = data_df.fillna('N/A')
        end_time = time.time()
        consum_time = end_time - start_time
        print('Read Table successfully! , Total read time spent {}s'.format(str(consum_time)[:5]))
        return data_df

In [6]:
def deal_context_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['businessStartTime'] = datetime.datetime.now()
    temp_dic['businessEndTime'] = datetime.datetime.now()
    temp_dic['entry'] = df['entry']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "}"
def deal_entry_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['entryId'] = df['ENTRY_ID']
    temp_dic['entryIdCompare'] = df['ENTRY_ID_COMPARE']
    temp_dic['comparison'] = df['COMPARISON']
    temp_dic['ownerCode'] = df['CONSIGN_SCC']
    temp_dic['ownerName'] = df['CONSIGN_NAME']
    temp_dic['ownerCodeCompare'] = df['CONSIGN_SCC_COMPARE']
    temp_dic['ownerNameCompare'] = df['CONSIGN_NAME_COMPARE']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "},"
def deal_comparison_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['code_t'] = df['G_NAME']
    temp_dic['qty1'] = df['G_QTY']
    temp_dic['originCountry'] = df['ORIGIN_COUNTRY']
    temp_dic['codeTCompare'] = df['G_NAME_COMPARE']
    temp_dic['qty1Compare'] = df['G_QTY_COMPARE']
    temp_dic['originCountryCompare'] = df['ORIGIN_COUNTRY_COMPARE']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "},"

In [8]:
import cx_Oracle as cx
import pandas as pd
import os
import datetime
from loguru import logger
import time
pd.set_option('display.max_columns', None)
from config.auth_config import ezpass_db
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'
def deal_context_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['businessStartTime'] = datetime.datetime.now()
    temp_dic['businessEndTime'] = datetime.datetime.now()
    temp_dic['entry'] = df['entry']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "}"
def deal_entry_dic(df):
        temp_dic = {}
        str = "{"
        temp_dic['entryId'] = df['ENTRY_ID']
        temp_dic['entryIdCompare'] = df['ENTRY_ID_COMPARE']
        temp_dic['comparison'] = df['COMPARISON']
        temp_dic['ownerCode'] = df['CONSIGN_SCC']
        temp_dic['ownerName'] = df['CONSIGN_NAME']
        temp_dic['ownerCodeCompare'] = df['CONSIGN_SCC_COMPARE']
        temp_dic['ownerNameCompare'] = df['CONSIGN_NAME_COMPARE']
        for key, value in temp_dic.items():
            str += "\"%s\":\"%s\"," % (key, value)
        str = str[:-1]
        return str + "},"
def deal_comparison_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['code_t'] = df['G_NAME']
    temp_dic['qty1'] = df['G_QTY']
    temp_dic['originCountry'] = df['ORIGIN_COUNTRY']
    temp_dic['codeTCompare'] = df['G_NAME_COMPARE']
    temp_dic['qty1Compare'] = df['G_QTY_COMPARE']
    temp_dic['originCountryCompare'] = df['ORIGIN_COUNTRY_COMPARE']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "},"
sql_text = f'''
        select
        t1.ID,
        t1.ENTRY_ID,
        t1.I_E_PORT,
        t1.D_DATE,
        t1.CONSIGN_SCC,
        t1.CONSIGN_CODE,
        t1.CONSIGN_NAME,
        t1.OWNER_CODE_SCC as CORP_CREDIT_CODE,
        t1.OWNER_CODE_SCC as BUSINESS_NO,
        t1.OWNER_CODE,
        t1.OWNER_NAME,
        t1.TRADE_MODE,
        t1.G_NAME,
        t1.G_QTY,
        t1.ORIGIN_COUNTRY,
        t2.ENTRY_ID as ENTRY_ID_COMPARE,
        t2.I_E_PORT as I_E_PORT_COMPARE,
        t2.D_DATE as D_DATE_COMPARE,
        t2.OWNER_CODE_SCC as OWNER_CODE_SCC_COMPARE,
        t2.OWNER_CODE as OWNER_CODE_COMPARE,
        t2.OWNER_NAME as OWNER_NAME_COMPARE,
        t2.TRADE_MODE as TRADE_MODE_COMPARE,
        t2.CONSIGN_SCC AS CONSIGN_SCC_COMPARE,
        t2.CONSIGN_CODE AS CONSIGN_CODE_COMPARE,
        t2.CONSIGN_NAME AS CONSIGN_NAME_COMPARE,
        t2.G_NAME as G_NAME_COMPARE,
        t2.G_QTY as G_QTY_COMPARE,
        t2.ORIGIN_COUNTRY as ORIGIN_COUNTRY_COMPARE
        from DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t1
        join DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t2
        on t1.OWNER_CODE_SCC = t2.OWNER_CODE_SCC
        and t1.G_NAME = t2.G_NAME
        and t1.G_QTY = t2.G_QTY
        and t1.ORIGIN_COUNTRY != t2.ORIGIN_COUNTRY
        and t1.TRADE_MODE != t2.TRADE_MODE
                    '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')
if origin_country_df is not None and len(origin_country_df) != 0:
    origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)
    origin_country_df = origin_country_df.groupby(['ENTRY_ID', 'CORP_CREDIT_CODE', 'BUSINESS_NO', 'ENTRY_ID_COMPARE']).agg({'COMPARISON': 'sum', 'ENTRY_ID': 'first', 'ENTRY_ID_COMPARE': 'first', 'CORP_CREDIT_CODE': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first', 'OWNER_CODE_SCC_COMPARE': 'first', 'OWNER_CODE_COMPARE': 'first', 'OWNER_NAME_COMPARE': 'first', 'CONSIGN_SCC': 'first', 'CONSIGN_SCC_COMPARE': 'first', 'CONSIGN_NAME': 'first', 'CONSIGN_NAME_COMPARE': 'first',})
    origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")
    origin_country_df['entry'] = origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)
    origin_country_df.drop(columns=['CORP_CREDIT_CODE'], inplace=True)

    # entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'sum',  'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})
    entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})
    entry_df['entry'] = entry_df['entry'].map(lambda x: "[" + x[: -1] + "]")
    entry_df['CONTEXT'] = entry_df.apply(lambda x: deal_context_dic(x), axis=1)
    entry_df['ID'] = 0
    entry_df["CUSTOMS_CODE"] = "2249"
    entry_df["TYPE_FIRST"] = "GNYTJKYJ"
    entry_df["TYPE_SECOND"] = "BSWL"
    entry_df["BUSINESS_TYPE"] = "61"
    entry_df["ORDER_TYPE"] = "trade"
    entry_df["RESOLVE_STATUS"] = "0"
    entry_df["RISK_LEVEL"] = "3"
    # entry_df["LABEL"] = "一二线原产国预警"
    entry_df["TRADE_CODE"] = entry_df["OWNER_CODE"]
    entry_df["CORP_NAME"] = entry_df["OWNER_NAME"]
    entry_df.drop(columns=['entry', 'OWNER_NAME', 'OWNER_CODE'], inplace=True)
    entry_df = entry_df.reset_index()
    print(entry_df)

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Read Table successfully! , Total read time spent 2.070s
     CORP_CREDIT_CODE         BUSINESS_NO  \
0  913100006929421297  913100006929421297

                                             CONTEXT  ID CUSTOMS_CODE  \
0  {"businessStartTime":"2022-06-07 20:51:09.6640...   0         2249

  TYPE_FIRST TYPE_SECOND BUSINESS_TYPE ORDER_TYPE RESOLVE_STATUS RISK_LEVEL  \
0   GNYTJKYJ        BSWL            61      trade              0          3

   TRADE_CODE     CORP_NAME
0  3122S60004  上海元初国际物流有限公司

In [17]:
entry_df

,CORP_CREDIT_CODE,BUSINESS_NO,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL,TRADE_CODE,CORP_NAME
0,913100006929421297,913100006929421297,"{""businessStartTime"":""2022-06-07 19:04:28.0651...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3,3122S60004,上海元初国际物流有限公司

In [18]:
 sql_text = f'''select T1.ENTRY_ID, T1.I_E_FLAG, T1.I_E_PORT, T1.D_DATE, T1.OWNER_CODE_SCC, T1.OWNER_CODE, T1.OWNER_NAME, T1.CONSIGN_SCC, T1.CONSIGN_CODE, T1.CONSIGN_NAME, T1.TRADE_MODE, T2.G_NAME, T2.G_QTY, T2.ORIGIN_COUNTRY from ODS_HEPS.ENTRY_HEAD T1 join ODS_HEPS.ENTRY_LIST T2 on T1.ENTRY_ID = T2.ENTRY_ID where T1.I_E_FLAG = 'I' AND (T1.TRADE_MODE = '0110' OR T1.TRADE_MODE = '5034') AND T1.I_E_PORT = '2249' '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')

print(origin_country_df)

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Read Table successfully! , Total read time spent 3.187s
             ENTRY_ID I_E_FLAG I_E_PORT     D_DATE      OWNER_CODE_SCC  \
0  224020221000000579        I     2249 2022-06-01  913100006929421297
1  224020221000000579        I     2249 2022-06-01  913100006929421297

   OWNER_CODE    OWNER_NAME         CONSIGN_SCC CONSIGN_CODE    CONSIGN_NAME  \
0  3122S60004  上海元初国际物流有限公司  91310000785178414H            2  施洁医疗技术（上海）有限公司
1  3122S60004  上海元初国际物流有限公司  91310000785178414H            2  施洁医疗技术（上海）有限公司

  TRADE_MODE G_NAME  G_QTY ORIGIN_COUNTRY
0       0110    发动机   10.0            USA
1       0110   发动机2   10.0            USA

In [19]:
origin_country_df

,ENTRY_ID,I_E_FLAG,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY
0,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA
1,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA

In [20]:
origin_country_df['D_DATE'] = origin_country_df['D_DATE'].map(lambda x: x.strftime("%Y%m%d"))
origin_country_df = origin_country_df.drop(columns=['I_E_FLAG'])
origin_country_df['ID'] = 0

In [21]:
origin_country_df

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ID
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA,0
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA,0

In [22]:
origin_country_df

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ID
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA,0
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA,0

In [23]:
origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)
origin_country_df = origin_country_df.groupby(['ENTRY_ID', 'CORP_CREDIT_CODE', 'BUSINESS_NO', 'ENTRY_ID_COMPARE']).agg({'COMPARISON': 'sum', 'ENTRY_ID': 'first', 'ENTRY_ID_COMPARE': 'first', 'CORP_CREDIT_CODE': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first', 'OWNER_CODE_SCC_COMPARE': 'first', 'OWNER_CODE_COMPARE': 'first', 'OWNER_NAME_COMPARE': 'first', 'CONSIGN_SCC': 'first', 'CONSIGN_SCC_COMPARE': 'first', 'CONSIGN_NAME': 'first', 'CONSIGN_NAME_COMPARE': 'first',})
origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")
origin_country_df['entry'] = origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)
origin_country_df.drop(columns=['CORP_CREDIT_CODE'], inplace=True)

KeyError: 'G_NAME_COMPARE'

In [28]:
origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)

KeyError: 'G_NAME_COMPARE'

In [25]:
origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")

KeyError: 'COMPARISON'

In [30]:
import cx_Oracle as cx
import pandas as pd
import os
import datetime
from loguru import logger
import time
pd.set_option('display.max_columns', None)
from config.auth_config import ezpass_db
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'
def deal_context_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['businessStartTime'] = datetime.datetime.now()
    temp_dic['businessEndTime'] = datetime.datetime.now()
    temp_dic['entry'] = df['entry']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "}"
def deal_entry_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['entryId'] = df['ENTRY_ID']
    temp_dic['entryIdCompare'] = df['ENTRY_ID_COMPARE']
    temp_dic['comparison'] = df['COMPARISON']
    temp_dic['ownerCode'] = df['CONSIGN_SCC']
    temp_dic['ownerName'] = df['CONSIGN_NAME']
    temp_dic['ownerCodeCompare'] = df['CONSIGN_SCC_COMPARE']
    temp_dic['ownerNameCompare'] = df['CONSIGN_NAME_COMPARE']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "},"
def deal_comparison_dic(df):
    temp_dic = {}
    str = "{"
    temp_dic['code_t'] = df['G_NAME']
    temp_dic['qty1'] = df['G_QTY']
    temp_dic['originCountry'] = df['ORIGIN_COUNTRY']
    temp_dic['codeTCompare'] = df['G_NAME_COMPARE']
    temp_dic['qty1Compare'] = df['G_QTY_COMPARE']
    temp_dic['originCountryCompare'] = df['ORIGIN_COUNTRY_COMPARE']
    for key, value in temp_dic.items():
        str += "\"%s\":\"%s\"," % (key, value)
    str = str[:-1]
    return str + "},"
sql_text = f'''
        select
        t1.ID,
        t1.ENTRY_ID,
        t1.I_E_PORT,
        t1.D_DATE,
        t1.CONSIGN_SCC,
        t1.CONSIGN_CODE,
        t1.CONSIGN_NAME,
        t1.OWNER_CODE_SCC as CORP_CREDIT_CODE,
        t1.OWNER_CODE_SCC as BUSINESS_NO,
        t1.OWNER_CODE,
        t1.OWNER_NAME,
        t1.TRADE_MODE,
        t1.G_NAME,
        t1.G_QTY,
        t1.ORIGIN_COUNTRY,
        t2.ENTRY_ID as ENTRY_ID_COMPARE,
        t2.I_E_PORT as I_E_PORT_COMPARE,
        t2.D_DATE as D_DATE_COMPARE,
        t2.OWNER_CODE_SCC as OWNER_CODE_SCC_COMPARE,
        t2.OWNER_CODE as OWNER_CODE_COMPARE,
        t2.OWNER_NAME as OWNER_NAME_COMPARE,
        t2.TRADE_MODE as TRADE_MODE_COMPARE,
        t2.CONSIGN_SCC AS CONSIGN_SCC_COMPARE,
        t2.CONSIGN_CODE AS CONSIGN_CODE_COMPARE,
        t2.CONSIGN_NAME AS CONSIGN_NAME_COMPARE,
        t2.G_NAME as G_NAME_COMPARE,
        t2.G_QTY as G_QTY_COMPARE,
        t2.ORIGIN_COUNTRY as ORIGIN_COUNTRY_COMPARE
        from DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t1
        join DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t2
        on t1.OWNER_CODE_SCC = t2.OWNER_CODE_SCC
        and t1.G_NAME = t2.G_NAME
        and t1.G_QTY = t2.G_QTY
        and t1.ORIGIN_COUNTRY != t2.ORIGIN_COUNTRY
        and t1.TRADE_MODE != t2.TRADE_MODE
                    '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')
if origin_country_df is not None and len(origin_country_df) != 0:
    origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)
    origin_country_df = origin_country_df.groupby(['ENTRY_ID', 'CORP_CREDIT_CODE', 'BUSINESS_NO', 'ENTRY_ID_COMPARE']).agg({'COMPARISON': 'sum', 'ENTRY_ID': 'first', 'ENTRY_ID_COMPARE': 'first', 'CORP_CREDIT_CODE': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first', 'OWNER_CODE_SCC_COMPARE': 'first', 'OWNER_CODE_COMPARE': 'first', 'OWNER_NAME_COMPARE': 'first', 'CONSIGN_SCC': 'first', 'CONSIGN_SCC_COMPARE': 'first', 'CONSIGN_NAME': 'first', 'CONSIGN_NAME_COMPARE': 'first',})
    origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")
    origin_country_df['entry'] = origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)
    origin_country_df.drop(columns=['CORP_CREDIT_CODE'], inplace=True)

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Read Table successfully! , Total read time spent 0.997s

In [31]:
origin_country_df

,,,,COMPARISON,ENTRY_ID,ENTRY_ID_COMPARE,OWNER_CODE,OWNER_NAME,OWNER_CODE_SCC_COMPARE,OWNER_CODE_COMPARE,OWNER_NAME_COMPARE,CONSIGN_SCC,CONSIGN_SCC_COMPARE,CONSIGN_NAME,CONSIGN_NAME_COMPARE,entry
ENTRY_ID,CORP_CREDIT_CODE,BUSINESS_NO,ENTRY_ID_COMPARE,,,,,,,,,,,,,
221620200000007959,913100006929421297,913100006929421297,224920221000000700,"[{""code_t"":""发动机"",""qty1"":""10"",""originCountry"":""...",221620200000007959,224920221000000700,3122S60004,上海元初国际物流有限公司,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,913100007598565000,施洁医疗技术（上海）有限公司,上海凯恩国际物流有限公司,"{""entryId"":""221620200000007959"",""entryIdCompar..."
224920221000000700,913100006929421297,913100006929421297,221620200000007959,"[{""code_t"":""发动机"",""qty1"":""10"",""originCountry"":""...",224920221000000700,221620200000007959,3122S60004,上海元初国际物流有限公司,913100006929421297,3122S60004,上海元初国际物流有限公司,913100007598565000,91310000785178414H,上海凯恩国际物流有限公司,施洁医疗技术（上海）有限公司,"{""entryId"":""224920221000000700"",""entryIdCompar..."

In [37]:
origin_country_df['COMPARISON']

0    {"code_t":"发动机","qty1":"10","originCountry":"U...
1    {"code_t":"发动机","qty1":"10","originCountry":"A...
Name: COMPARISON, dtype: object

In [38]:
origin_country_df = origin_country_df.groupby(['ENTRY_ID', 'CORP_CREDIT_CODE', 'BUSINESS_NO', 'ENTRY_ID_COMPARE']).agg({'COMPARISON': 'sum', 'ENTRY_ID': 'first', 'ENTRY_ID_COMPARE': 'first', 'CORP_CREDIT_CODE': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first', 'OWNER_CODE_SCC_COMPARE': 'first', 'OWNER_CODE_COMPARE': 'first', 'OWNER_NAME_COMPARE': 'first', 'CONSIGN_SCC': 'first', 'CONSIGN_SCC_COMPARE': 'first', 'CONSIGN_NAME': 'first', 'CONSIGN_NAME_COMPARE': 'first',})

In [39]:
origin_country_df

,,,,COMPARISON,ENTRY_ID,ENTRY_ID_COMPARE,CORP_CREDIT_CODE,OWNER_CODE,OWNER_NAME,OWNER_CODE_SCC_COMPARE,OWNER_CODE_COMPARE,OWNER_NAME_COMPARE,CONSIGN_SCC,CONSIGN_SCC_COMPARE,CONSIGN_NAME,CONSIGN_NAME_COMPARE
ENTRY_ID,CORP_CREDIT_CODE,BUSINESS_NO,ENTRY_ID_COMPARE,,,,,,,,,,,,,
221620200000007959,913100006929421297,913100006929421297,224920221000000700,"{""code_t"":""发动机"",""qty1"":""10"",""originCountry"":""A...",221620200000007959,224920221000000700,913100006929421297,3122S60004,上海元初国际物流有限公司,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,913100007598565000,施洁医疗技术（上海）有限公司,上海凯恩国际物流有限公司
224920221000000700,913100006929421297,913100006929421297,221620200000007959,"{""code_t"":""发动机"",""qty1"":""10"",""originCountry"":""U...",224920221000000700,221620200000007959,913100006929421297,3122S60004,上海元初国际物流有限公司,913100006929421297,3122S60004,上海元初国际物流有限公司,913100007598565000,91310000785178414H,上海凯恩国际物流有限公司,施洁医疗技术（上海）有限公司

In [36]:
origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)

In [40]:
origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")

In [41]:
origin_country_df['COMPARISON']

ENTRY_ID            CORP_CREDIT_CODE    BUSINESS_NO         ENTRY_ID_COMPARE
221620200000007959  913100006929421297  913100006929421297  224920221000000700    [{"code_t":"发动机","qty1":"10","originCountry":"...
224920221000000700  913100006929421297  913100006929421297  221620200000007959    [{"code_t":"发动机","qty1":"10","originCountry":"...
Name: COMPARISON, dtype: object

In [42]:
origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)

ENTRY_ID            CORP_CREDIT_CODE    BUSINESS_NO         ENTRY_ID_COMPARE
221620200000007959  913100006929421297  913100006929421297  224920221000000700    {"entryId":"221620200000007959","entryIdCompar...
224920221000000700  913100006929421297  913100006929421297  221620200000007959    {"entryId":"224920221000000700","entryIdCompar...
dtype: object

In [43]:
origin_country_df['entry'] = origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)

In [51]:
origin_country_df['entry']

ENTRY_ID            CORP_CREDIT_CODE    BUSINESS_NO         ENTRY_ID_COMPARE
221620200000007959  913100006929421297  913100006929421297  224920221000000700    {"entryId":"221620200000007959","entryIdCompar...
224920221000000700  913100006929421297  913100006929421297  221620200000007959    {"entryId":"224920221000000700","entryIdCompar...
Name: entry, dtype: object

In [50]:
origin_country_df.drop(columns=['CORP_CREDIT_CODE'], inplace=True)

KeyError: "['CORP_CREDIT_CODE'] not found in axis"

In [49]:
origin_country_df

,,,,COMPARISON,ENTRY_ID,ENTRY_ID_COMPARE,OWNER_CODE,OWNER_NAME,OWNER_CODE_SCC_COMPARE,OWNER_CODE_COMPARE,OWNER_NAME_COMPARE,CONSIGN_SCC,CONSIGN_SCC_COMPARE,CONSIGN_NAME,CONSIGN_NAME_COMPARE,entry
ENTRY_ID,CORP_CREDIT_CODE,BUSINESS_NO,ENTRY_ID_COMPARE,,,,,,,,,,,,,
221620200000007959,913100006929421297,913100006929421297,224920221000000700,"[{""code_t"":""发动机"",""qty1"":""10"",""originCountry"":""...",221620200000007959,224920221000000700,3122S60004,上海元初国际物流有限公司,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,913100007598565000,施洁医疗技术（上海）有限公司,上海凯恩国际物流有限公司,"{""entryId"":""221620200000007959"",""entryIdCompar..."
224920221000000700,913100006929421297,913100006929421297,221620200000007959,"[{""code_t"":""发动机"",""qty1"":""10"",""originCountry"":""...",224920221000000700,221620200000007959,3122S60004,上海元初国际物流有限公司,913100006929421297,3122S60004,上海元初国际物流有限公司,913100007598565000,91310000785178414H,上海凯恩国际物流有限公司,施洁医疗技术（上海）有限公司,"{""entryId"":""224920221000000700"",""entryIdCompar..."

In [52]:
entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})

In [53]:
entry_df

,,entry,OWNER_CODE,OWNER_NAME
CORP_CREDIT_CODE,BUSINESS_NO,,,
913100006929421297,913100006929421297,"{""entryId"":""221620200000007959"",""entryIdCompar...",3122S60004,上海元初国际物流有限公司

In [54]:
entry_df['entry'] = entry_df['entry'].map(lambda x: "[" + x[: -1] + "]")   # 序列化

In [55]:
entry_df['entry']

CORP_CREDIT_CODE    BUSINESS_NO
913100006929421297  913100006929421297    [{"entryId":"221620200000007959","entryIdCompa...
Name: entry, dtype: object

In [56]:
entry_df['CONTEXT'] = entry_df.apply(lambda x: deal_context_dic(x), axis=1)

In [57]:
entry_df['CONTEXT']

CORP_CREDIT_CODE    BUSINESS_NO
913100006929421297  913100006929421297    {"businessStartTime":"2022-06-07 19:23:11.0604...
Name: CONTEXT, dtype: object

In [59]:
entry_df['ID'] =0

In [60]:
entry_df['ID']

CORP_CREDIT_CODE    BUSINESS_NO
913100006929421297  913100006929421297    0
Name: ID, dtype: int64

In [61]:
entry_df["CUSTOMS_CODE"] = "2249"

In [62]:
entry_df["CUSTOMS_CODE"]

CORP_CREDIT_CODE    BUSINESS_NO
913100006929421297  913100006929421297    2249
Name: CUSTOMS_CODE, dtype: object

In [63]:
entry_df

,,entry,OWNER_CODE,OWNER_NAME,CONTEXT,ID,CUSTOMS_CODE
CORP_CREDIT_CODE,BUSINESS_NO,,,,,,
913100006929421297,913100006929421297,"[{""entryId"":""221620200000007959"",""entryIdCompa...",3122S60004,上海元初国际物流有限公司,"{""businessStartTime"":""2022-06-07 19:23:11.0604...",0,2249

In [64]:
entry_df["TYPE_FIRST"] = "GNYTJKYJ"
entry_df["TYPE_SECOND"] = "BSWL"
entry_df["BUSINESS_TYPE"] = "61"
entry_df["ORDER_TYPE"] = "trade"
entry_df["RESOLVE_STATUS"] = "0"
entry_df["RISK_LEVEL"] = "3"

In [65]:
entry_df

,,entry,OWNER_CODE,OWNER_NAME,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL
CORP_CREDIT_CODE,BUSINESS_NO,,,,,,,,,,,,
913100006929421297,913100006929421297,"[{""entryId"":""221620200000007959"",""entryIdCompa...",3122S60004,上海元初国际物流有限公司,"{""businessStartTime"":""2022-06-07 19:23:11.0604...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3

In [66]:
entry_df["TRADE_CODE"] = entry_df["OWNER_CODE"]
entry_df["CORP_NAME"] = entry_df["OWNER_NAME"]
entry_df.drop(columns=['entry', 'OWNER_NAME', 'OWNER_CODE'], inplace=True)
entry_df = entry_df.reset_index()

In [67]:
entry_df

,CORP_CREDIT_CODE,BUSINESS_NO,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL,TRADE_CODE,CORP_NAME
0,913100006929421297,913100006929421297,"{""businessStartTime"":""2022-06-07 19:23:11.0604...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3,3122S60004,上海元初国际物流有限公司

In [69]:
import cx_Oracle as cx
import pandas as pd
import os
from loguru import logger
from sqlalchemy import types, create_engine
from risk_models.config.auth_config import ezpass_db
from risk_models.config.read_config.read_func import Read_Oracle
import datetime
import time
from sqlalchemy.types import *

os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'


class Write_Oracle_Alarm(object):
    def __init__(self):
        # TODO 需要修改
        self.dmlink = ezpass_db.Authconfig.oracle_database_dbdm
        self.dwlink = ezpass_db.Authconfig.oracle_database_dbdw
        self.odslink = ezpass_db.Authconfig.oracle_database_dbods
        self.account = ezpass_db.Authconfig.ods_oracle_account
        self.write_account = ezpass_db.Authconfig.oracle_write_account_alarm
        self.write_address = ezpass_db.Authconfig.oracle_write_address_alarm
        # 目前只考虑一个conn，以后有多个写入地址再加
        self.conn = create_engine(f"oracle+cx_oracle://{self.write_account}@{self.write_address}",
                                  encoding='utf-8', convert_unicode=True)
        self.conn.autocommit = True

    def get_max_index(self, table_name):
        """
        :param table_name: 旧表表名
        :return: 返回最大的ID
        """
        read_sql = f'select max("ID") as id from {table_name.lower()}'
        # todo 这里的读取用到了dbdm是因为切换了生产环境，原本是dbods
        s_id = Read_Oracle().read_oracle(sql=read_sql, database='dbalarm')
        if s_id is None:
            return 0
        else:
            return 0 if s_id['ID'].values[0] == 'N/A' else s_id['ID'].values[0]

    def get_first_line(self, table_name):
        read_sql = f'select * from {table_name.lower()} where rownum = 1 '
        # todo 这里的读取用到了dbdm是因为切换了生产环境，原本是dbods
        old_df = Read_Oracle().read_oracle(sql=read_sql, database='dbdm')
        return old_df

    def clean_index(self, new_df, old_table_name):
        """
        清洗newdf的index
        :param new_df:
        :param old_table_name:
        :return:
        """
        new_df = new_df.reset_index()
        new_df = new_df.drop(axis=1, columns=['ID']).rename(columns={'index': 'ID'})
        max_id = self.get_max_index(old_table_name)
        if max_id is not None:
            new_df.loc[:, 'ID'] = new_df.loc[:, 'ID'].apply(lambda x: x + max_id + 1)
        else:
            pass
        new_df.set_index('ID')

        return new_df

    def add_lastupdate(self, new_df):
        now_time = datetime.datetime.now()
        now_time = datetime.datetime.strftime(now_time, format='%Y-%m-%d %H:%M:%S')
        new_df.loc[:, 'LASTUPDATE'] = now_time
        new_df.loc[:, 'LASTUPDATE'] = pd.to_datetime(new_df.loc[:, 'LASTUPDATE'], format='%Y-%m-%d %H:%M:%S')

        return new_df

    def add_iscurrent(self, new_df):
        new_df.loc[:, 'ISCURRENT'] = 1
        return new_df

    def change_lastupdate(self, old_table_name, org_code, alarm):
        """
        :param old_table_name: 表名
        :param org_code: 企业信用代码
        :param alarm: [model_code, child_mode_code] 主模块id和子模块id
        :return: None
        """
        now_time = datetime.datetime.now()
        now_time = datetime.datetime.strftime(now_time, format='%Y-%m-%d %H:%M:%S')
        if org_code is not None and alarm is None:
            try:
                self.conn.execute(
                    "update {} set LASTUPDATE =to_date('{}','yyyy-mm-dd hh24:mi:ss') where iscurrent = 1 and org_code ='{}'".format(
                        old_table_name, now_time, org_code))
            except Exception as e:
                logger.error(e)
        elif alarm is not None:
            if org_code is not None and len(alarm) == 2:
                model_code = alarm[0]
                child_mode_code = alarm[1]
                if child_mode_code == '':
                    try:
                        self.conn.execute(
                            "update {} set LASTUPDATE =to_date('{}','yyyy-mm-dd hh24:mi:ss') where iscurrent = 1 and org_code ='{}' and model_code = '{}'".format(
                                old_table_name, now_time, org_code, model_code))
                    except Exception as e:
                        logger.error(e)
                else:
                    try:
                        self.conn.execute(
                            "update {} set LASTUPDATE =to_date('{}','yyyy-mm-dd hh24:mi:ss') where iscurrent = 1 and org_code ='{}' and model_code = '{}' and child_model_code ='{}'".format(
                                old_table_name, now_time, org_code, model_code, child_mode_code))
                    except Exception as e:
                        logger.error(e)
            elif org_code is None and len(alarm) == 2:
                model_code = alarm[0]
                child_mode_code = alarm[1]
                if child_mode_code == '':
                    try:
                        self.conn.execute(
                            "update {} set LASTUPDATE =to_date('{}','yyyy-mm-dd hh24:mi:ss') where iscurrent = 1 and model_code = '{}'".format(
                                old_table_name, now_time,  model_code))
                    except Exception as e:
                        logger.error(e)
                else:
                    try:
                        self.conn.execute(
                            "update {} set LASTUPDATE =to_date('{}','yyyy-mm-dd hh24:mi:ss') where iscurrent = 1 and model_code = '{}' and child_model_code ='{}'".format(
                                old_table_name, now_time, model_code, child_mode_code))
                    except Exception as e:
                        logger.error(e)
        elif org_code is None:
            try:
                self.conn.execute(
                    "update {} set LASTUPDATE =to_date('{}','yyyy-mm-dd hh24:mi:ss') where iscurrent = 1 ".format(old_table_name, now_time))
            except Exception as e:
                logger.error(e)
        else:
            logger.warning('change_lastupdate func params error, please check params')

    def change_iscurrent(self, old_table_name, org_code, alarm):
        if org_code is not None and alarm is None:
            try:
                self.conn.execute("update {} set ISCURRENT = 0  where iscurrent = 1 and org_code ='{}'".format(old_table_name, org_code))
            except Exception as e:
                logger.error(e)
        elif alarm is not None:
            if org_code is not None and len(alarm) == 2:
                model_code = alarm[0]
                child_mode_code = alarm[1]
                if child_mode_code == '':
                    try:
                        self.conn.execute(
                            "update {} set ISCURRENT = 0  where iscurrent = 1 and org_code ='{}' and model_code = '{}'".format(old_table_name, org_code, model_code))
                    except Exception as e:
                        logger.error(e)
                else:
                    try:
                        self.conn.execute(
                            "update {} set ISCURRENT = 0  where iscurrent = 1 and org_code ='{}' and model_code = '{}' and child_model_code ='{}'".format(
                                old_table_name, org_code, model_code, child_mode_code))
                    except Exception as e:
                        logger.error(e)
            elif org_code is None and len(alarm) == 2:
                model_code = alarm[0]
                child_mode_code = alarm[1]
                if child_mode_code == '':
                    try:
                        self.conn.execute(
                            "update {} set ISCURRENT = 0 where iscurrent = 1 and model_code = '{}'".format(old_table_name, model_code))
                    except Exception as e:
                        logger.error(e)
                else:
                    try:
                        self.conn.execute(
                            "update {} set ISCURRENT = 0 where iscurrent = 1 and model_code = '{}' and child_model_code ='{}'".format(
                                old_table_name, model_code, child_mode_code))
                    except Exception as e:
                        logger.error(e)
        elif org_code is None:
            try:
                self.conn.execute("update {} set ISCURRENT = 0 where iscurrent = 1 ".format(old_table_name))
            except Exception as e:
                logger.error(e)
        else:
            logger.warning('change_iscurrent_func params error, please check params')

    @logger.catch()
    def write_oracle(self, table_name, new_df, org_code, alarm, iscurrent=True, alarm_code = None):
        """
        风控产品封装的写入接口
        :param iscurrent: 是否需要在插入的时候更新iscurrent
        :param table_name: 需要写入的表名
        :param new_df: 写入的对象dataframe
        :param org_code: 需要更新的企业信用代码
        :param alarm:  [model_code, child_mode_code] 主模块id和子模块id
        :return: None
        """
        if new_df is None:
            return
        start_time = time.time()
        new_df = self.clean_index(new_df, table_name)
        print(new_df)
        new_df = self.add_lastupdate(new_df)
        new_df = self.add_iscurrent(new_df)
        self.change_lastupdate(table_name, org_code, alarm)
        if iscurrent:
            self.change_iscurrent(table_name, org_code, alarm)
        # old_df = self.get_first_line(table_name)

        for key, value in dict(new_df.dtypes).items():
            # 如果不对object的columns进行一次astype（str）就会报错
            if value == 'object':
                new_df.loc[:, '{}'.format(key)] = new_df.loc[:, '{}'.format(key)].astype(str)

        def set_d_type_dict(df):
            type_dict = {}
            for i, j in zip(df.columns, df.dtypes):
                if "object" in str(j):
                    type_dict.update({i: VARCHAR(512)})
                if "float" in str(j):
                    type_dict.update({i: DECIMAL(20, 5)})
                if "int" in str(j):
                    type_dict.update({i: DECIMAL(20)})
            return type_dict

        logger.info('Processing... Writing {} rows into database'.format(len(new_df)))
        d_type = set_d_type_dict(new_df)
        new_df.to_sql(name=table_name.lower(), con=self.conn, if_exists='append', index=False, dtype=d_type, chunksize=2000)

        end_time = time.time()
        consum_time = end_time - start_time
        logger.info('Insert data into {} successfully! Total write time spent {}s'.format(table_name.upper(), str(consum_time)[:5]))

In [ ]:
from risk_models import *
Write_Oracle_Alarm().write_oracle('BD_RISK_CROSS_TRADE_WARAIN_TEMP', entry_df, org_code=None, alarm=None)

In [ ]:
from risk_models import *
Write_Oracle_Alarm().write_oracle('BD_RISK_CROSS_TRADE_WARAIN_TEMP', entry_df, org_code=None, alarm=None)

In [68]:
from risk_models import *
Write_Oracle_Alarm().write_oracle('BD_RISK_CROSS_TRADE_WARAIN_TEMP', entry_df, org_code=None, alarm=None)

NameError: name 'Write_Oracle_Alarm' is not defined

In [70]:
from risk_models import *
Write_Oracle_Alarm().write_oracle('BD_RISK_CROSS_TRADE_WARAIN_TEMP', entry_df, org_code=None, alarm=None)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_14520\2909733957.py:25: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  self.conn = create_engine(f"oracle+cx_oracle://{self.write_account}@{self.write_address}",

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 19:26:47.997 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 0.948s

   ID    CORP_CREDIT_CODE         BUSINESS_NO  \
0   1  913100006929421297  913100006929421297

                                             CONTEXT CUSTOMS_CODE TYPE_FIRST  \
0  {"businessStartTime":"2022-06-07 19:23:11.0604...         2249   GNYTJKYJ

  TYPE_SECOND BUSINESS_TYPE ORDER_TYPE RESOLVE_STATUS RISK_LEVEL  TRADE_CODE  \
0        BSWL            61      trade              0          3  3122S60004

      CORP_NAME
0  上海元初国际物流有限公司

2022-06-07 19:26:49.399 | INFO     | __main__:write_oracle:224 - Processing... Writing 1 rows into database
2022-06-07 19:26:49.900 | INFO     | __main__:write_oracle:230 - Insert data into BD_RISK_CROSS_TRADE_WARAIN_TEMP successfully! Total write time spent 2.853s

In [74]:
sql_text = f'''select T1.ENTRY_ID, T1.I_E_FLAG, T1.I_E_PORT, T1.D_DATE, T1.OWNER_CODE_SCC, T1.OWNER_CODE, T1.OWNER_NAME, T1.CONSIGN_SCC, T1.CONSIGN_CODE, T1.CONSIGN_NAME, T1.TRADE_MODE, T2.G_NAME, T2.G_QTY, T2.ORIGIN_COUNTRY
from ODS_HEPS.ENTRY_HEAD T1 join ODS_HEPS.ENTRY_LIST T2 on T1.ENTRY_ID = T2.ENTRY_ID where T1.I_E_FLAG = 'I' AND (T1.TRADE_MODE = '0110' OR T1.TRADE_MODE = '5034') AND T1.I_E_PORT = '2249' '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')
origin_country_df

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 19:38:48.631 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 0.936s

,ENTRY_ID,I_E_FLAG,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY
0,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA
1,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA
2,224020221000000580,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA
3,224020221000000580,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA

In [75]:
origin_country_df['D_DATE'] = origin_country_df['D_DATE'].map(lambda x: x.strftime("%Y%m%d"))  # 对D_date 做转换
origin_country_df

,ENTRY_ID,I_E_FLAG,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY
0,224020221000000579,I,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA
1,224020221000000579,I,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA
2,224020221000000580,I,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA
3,224020221000000580,I,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA

In [76]:
origin_country_df = origin_country_df.drop(columns=['I_E_FLAG'])   # 去除 ieflag
origin_country_df

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA
2,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA
3,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA

In [78]:
origin_country_df['ID'] = 0          # 赋值id =0
origin_country_df

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ID
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA,0
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA,0
2,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA,0
3,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA,0

In [79]:
origin_country_df

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ID
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA,0
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA,0
2,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA,0
3,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA,0

In [80]:
 sql_text = f'''select T1.ENTRY_ID, T1.I_E_FLAG, T1.I_E_PORT, T1.D_DATE, T1.OWNER_CODE_SCC, T1.OWNER_CODE, T1.OWNER_NAME, T1.CONSIGN_SCC, T1.CONSIGN_CODE, T1.CONSIGN_NAME, T1.TRADE_MODE, T2.G_NAME, T2.G_QTY, T2.ORIGIN_COUNTRY from ODS_HEPS.ENTRY_HEAD T1 join ODS_HEPS.ENTRY_LIST T2 on T1.ENTRY_ID = T2.ENTRY_ID where T1.I_E_FLAG = 'I' AND (T1.TRADE_MODE = '0110' OR T1.TRADE_MODE = '5034') AND T1.I_E_PORT = '2249' '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 19:41:50.169 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 1.626s

In [81]:
origin_country_df

,ENTRY_ID,I_E_FLAG,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY
0,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA
1,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA
2,224020221000000580,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA
3,224020221000000580,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA

In [82]:
entry_df

,CORP_CREDIT_CODE,BUSINESS_NO,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL,TRADE_CODE,CORP_NAME
0,913100006929421297,913100006929421297,"{""businessStartTime"":""2022-06-07 19:23:11.0604...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3,3122S60004,上海元初国际物流有限公司

In [84]:
# 对企业进行预警
sql_text = f'''
        select
        t1.ID,
        t1.ENTRY_ID,
        t1.I_E_PORT,
        t1.D_DATE,
        t1.CONSIGN_SCC,
        t1.CONSIGN_CODE,
        t1.CONSIGN_NAME,
        t1.OWNER_CODE_SCC as CORP_CREDIT_CODE,
        t1.OWNER_CODE_SCC as BUSINESS_NO,
        t1.OWNER_CODE,
        t1.OWNER_NAME,
        t1.TRADE_MODE,
        t1.G_NAME,
        t1.G_QTY,
        t1.ORIGIN_COUNTRY,
        t2.ENTRY_ID as ENTRY_ID_COMPARE,
        t2.I_E_PORT as I_E_PORT_COMPARE,
        t2.D_DATE as D_DATE_COMPARE,
        t2.OWNER_CODE_SCC as OWNER_CODE_SCC_COMPARE,
        t2.OWNER_CODE as OWNER_CODE_COMPARE,
        t2.OWNER_NAME as OWNER_NAME_COMPARE,
        t2.TRADE_MODE as TRADE_MODE_COMPARE,
        t2.CONSIGN_SCC AS CONSIGN_SCC_COMPARE,
        t2.CONSIGN_CODE AS CONSIGN_CODE_COMPARE,
        t2.CONSIGN_NAME AS CONSIGN_NAME_COMPARE,
        t2.G_NAME as G_NAME_COMPARE,
        t2.G_QTY as G_QTY_COMPARE,
        t2.ORIGIN_COUNTRY as ORIGIN_COUNTRY_COMPARE
        from DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t1
        join DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t2
        on t1.OWNER_CODE_SCC = t2.OWNER_CODE_SCC
        and t1.G_NAME = t2.G_NAME
        and t1.G_QTY = t2.G_QTY
        and t1.ORIGIN_COUNTRY != t2.ORIGIN_COUNTRY
        and t1.TRADE_MODE != t2.TRADE_MODE
                    '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')
if origin_country_df is not None and len(origin_country_df) != 0:
    origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)
    origin_country_df = origin_country_df.groupby(['ENTRY_ID', 'CORP_CREDIT_CODE', 'BUSINESS_NO', 'ENTRY_ID_COMPARE']).agg({'COMPARISON': 'sum', 'ENTRY_ID': 'first', 'ENTRY_ID_COMPARE': 'first', 'CORP_CREDIT_CODE': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first', 'OWNER_CODE_SCC_COMPARE': 'first', 'OWNER_CODE_COMPARE': 'first', 'OWNER_NAME_COMPARE': 'first', 'CONSIGN_SCC': 'first', 'CONSIGN_SCC_COMPARE': 'first', 'CONSIGN_NAME': 'first', 'CONSIGN_NAME_COMPARE': 'first',})
    origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")
    origin_country_df['entry'] = origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)
    origin_country_df.drop(columns=['CORP_CREDIT_CODE'], inplace=True)

    # entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'sum',  'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})
    entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})
    entry_df['entry'] = entry_df['entry'].map(lambda x: "[" + x[: -1] + "]")
    entry_df['CONTEXT'] = entry_df.apply(lambda x: deal_context_dic(x), axis=1)
    entry_df['ID'] = 0
    entry_df["CUSTOMS_CODE"] = "2249"
    entry_df["TYPE_FIRST"] = "GNYTJKYJ"
    entry_df["TYPE_SECOND"] = "BSWL"
    entry_df["BUSINESS_TYPE"] = "61"
    entry_df["ORDER_TYPE"] = "trade"
    entry_df["RESOLVE_STATUS"] = "0"
    entry_df["RISK_LEVEL"] = "3"
    # entry_df["LABEL"] = "一二线原产国预警"
    entry_df["TRADE_CODE"] = entry_df["OWNER_CODE"]
    entry_df["CORP_NAME"] = entry_df["OWNER_NAME"]
    entry_df.drop(columns=['entry', 'OWNER_NAME', 'OWNER_CODE'], inplace=True)
    entry_df = entry_df.reset_index()

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 19:46:08.810 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 1.118s

In [85]:
entry_df

,CORP_CREDIT_CODE,BUSINESS_NO,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL,TRADE_CODE,CORP_NAME
0,913100006929421297,913100006929421297,"{""businessStartTime"":""2022-06-07 19:46:08.8199...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3,3122S60004,上海元初国际物流有限公司

In [86]:
Write_Oracle_Alarm().write_oracle('BD_RISK_CROSS_TRADE_WARAIN_TEMP', entry_df, org_code=None, alarm=None)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_14520\2909733957.py:25: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  self.conn = create_engine(f"oracle+cx_oracle://{self.write_account}@{self.write_address}",

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 19:46:43.804 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 0.872s

   ID    CORP_CREDIT_CODE         BUSINESS_NO  \
0   1  913100006929421297  913100006929421297

                                             CONTEXT CUSTOMS_CODE TYPE_FIRST  \
0  {"businessStartTime":"2022-06-07 19:46:08.8199...         2249   GNYTJKYJ

  TYPE_SECOND BUSINESS_TYPE ORDER_TYPE RESOLVE_STATUS RISK_LEVEL  TRADE_CODE  \
0        BSWL            61      trade              0          3  3122S60004

      CORP_NAME
0  上海元初国际物流有限公司

2022-06-07 19:46:45.211 | INFO     | __main__:write_oracle:224 - Processing... Writing 1 rows into database
2022-06-07 19:46:45.472 | INFO     | __main__:write_oracle:230 - Insert data into BD_RISK_CROSS_TRADE_WARAIN_TEMP successfully! Total write time spent 2.540s

In [91]:
origin_country_df       # Consin name 境内收发货人名称

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ID
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA,0
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA,0
2,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA,0
3,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA,0

In [89]:
sql_text = f'''select T1.ENTRY_ID, T1.I_E_FLAG, T1.I_E_PORT, T1.D_DATE, T1.OWNER_CODE_SCC, T1.OWNER_CODE, T1.OWNER_NAME, T1.CONSIGN_SCC, T1.CONSIGN_CODE, T1.CONSIGN_NAME, T1.TRADE_MODE, T2.G_NAME, T2.G_QTY, T2.ORIGIN_COUNTRY from ODS_HEPS.ENTRY_HEAD T1 join ODS_HEPS.ENTRY_LIST T2 on T1.ENTRY_ID = T2.ENTRY_ID where T1.I_E_FLAG = 'I' AND (T1.TRADE_MODE = '0110' OR T1.TRADE_MODE = '5034') AND T1.I_E_PORT = '2249' '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')
origin_country_df

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 19:53:57.079 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 0.877s

,ENTRY_ID,I_E_FLAG,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY
0,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA
1,224020221000000579,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA
2,224020221000000580,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA
3,224020221000000580,I,2249,2022-06-01,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA

In [90]:
origin_country_df['D_DATE'] = origin_country_df['D_DATE'].map(lambda x: x.strftime("%Y%m%d"))
origin_country_df = origin_country_df.drop(columns=['I_E_FLAG'])
origin_country_df['ID'] = 0
origin_country_df

,ENTRY_ID,I_E_PORT,D_DATE,OWNER_CODE_SCC,OWNER_CODE,OWNER_NAME,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ID
0,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机,10.0,USA,0
1,224020221000000579,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,0110,发动机2,10.0,USA,0
2,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机,10.0,USA,0
3,224020221000000580,2249,20220601,913100006929421297,3122S60004,上海元初国际物流有限公司,91310000785178414H,2,施洁医疗技术（上海）有限公司,5034,发动机2,10.0,USA,0

In [ ]:
# 以下为logic 代码

In [15]:
sql_text = f'''
        select
        t1.ID,
        t1.ENTRY_ID,
        t1.I_E_PORT,
        t1.D_DATE,
        t1.CONSIGN_SCC,
        t1.CONSIGN_CODE,
        t1.CONSIGN_NAME,
        t1.OWNER_CODE_SCC as CORP_CREDIT_CODE,
        t1.OWNER_CODE_SCC as BUSINESS_NO,
        t1.OWNER_CODE,
        t1.OWNER_NAME,
        t1.TRADE_MODE,
        t1.G_NAME,
        t1.G_QTY,
        t1.ORIGIN_COUNTRY,
        t2.ENTRY_ID as ENTRY_ID_COMPARE,
        t2.I_E_PORT as I_E_PORT_COMPARE,
        t2.D_DATE as D_DATE_COMPARE,
        t2.OWNER_CODE_SCC as OWNER_CODE_SCC_COMPARE,
        t2.OWNER_CODE as OWNER_CODE_COMPARE,
        t2.OWNER_NAME as OWNER_NAME_COMPARE,
        t2.TRADE_MODE as TRADE_MODE_COMPARE,
        t2.CONSIGN_SCC AS CONSIGN_SCC_COMPARE,
        t2.CONSIGN_CODE AS CONSIGN_CODE_COMPARE,
        t2.CONSIGN_NAME AS CONSIGN_NAME_COMPARE,
        t2.G_NAME as G_NAME_COMPARE,
        t2.G_QTY as G_QTY_COMPARE,
        t2.ORIGIN_COUNTRY as ORIGIN_COUNTRY_COMPARE
        from DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t1
        join DW_CUS_RC.BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN t2
        on t1.OWNER_CODE_SCC = t2.OWNER_CODE_SCC
        and t1.G_NAME = t2.G_NAME
        and t1.G_QTY = t2.G_QTY
        and t1.ORIGIN_COUNTRY != t2.ORIGIN_COUNTRY
        and t1.TRADE_MODE != t2.TRADE_MODE
                    '''
origin_country_df = Read_Oracle().read_oracle(sql=sql_text, database='dbalarm')
origin_country_df

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Read Table successfully! , Total read time spent 1.031s

,ID,ENTRY_ID,I_E_PORT,D_DATE,CONSIGN_SCC,CONSIGN_CODE,CONSIGN_NAME,CORP_CREDIT_CODE,BUSINESS_NO,OWNER_CODE,OWNER_NAME,TRADE_MODE,G_NAME,G_QTY,ORIGIN_COUNTRY,ENTRY_ID_COMPARE,I_E_PORT_COMPARE,D_DATE_COMPARE,OWNER_CODE_SCC_COMPARE,OWNER_CODE_COMPARE,OWNER_NAME_COMPARE,TRADE_MODE_COMPARE,CONSIGN_SCC_COMPARE,CONSIGN_CODE_COMPARE,CONSIGN_NAME_COMPARE,G_NAME_COMPARE,G_QTY_COMPARE,ORIGIN_COUNTRY_COMPARE
0,2,224920221000000700,2249,20220519,913100007598565000,2,上海凯恩国际物流有限公司,913100006929421297,913100006929421297,3122S60004,上海元初国际物流有限公司,0110,发动机,10,USA,221620200000007959,2249,20220319,913100006929421297,3122S60004,上海元初国际物流有限公司,5034,91310000785178414H,2,施洁医疗技术（上海）有限公司,发动机,10,AUS
1,1,221620200000007959,2249,20220319,91310000785178414H,2,施洁医疗技术（上海）有限公司,913100006929421297,913100006929421297,3122S60004,上海元初国际物流有限公司,5034,发动机,10,AUS,224920221000000700,2249,20220519,913100006929421297,3122S60004,上海元初国际物流有限公司,0110,913100007598565000,2,上海凯恩国际物流有限公司,发动机,10,USA

In [16]:
if origin_country_df is not None and len(origin_country_df) != 0:
    origin_country_df['COMPARISON'] = origin_country_df.apply(lambda x: deal_comparison_dic(x), axis=1)
    origin_country_df = origin_country_df.groupby(['ENTRY_ID', 'CORP_CREDIT_CODE', 'BUSINESS_NO', 'ENTRY_ID_COMPARE']).agg({'COMPARISON': 'sum', 'ENTRY_ID': 'first', 'ENTRY_ID_COMPARE': 'first', 'CORP_CREDIT_CODE': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first', 'OWNER_CODE_SCC_COMPARE': 'first', 'OWNER_CODE_COMPARE': 'first', 'OWNER_NAME_COMPARE': 'first', 'CONSIGN_SCC': 'first', 'CONSIGN_SCC_COMPARE': 'first', 'CONSIGN_NAME': 'first', 'CONSIGN_NAME_COMPARE': 'first',})
    origin_country_df['COMPARISON'] = origin_country_df['COMPARISON'].map(lambda x: "[" + x[: -1] + "]")
    origin_country_df['entry'] = origin_country_df.apply(lambda x: deal_entry_dic(x), axis=1)
    origin_country_df.drop(columns=['CORP_CREDIT_CODE'], inplace=True)

    # entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'sum',  'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})
    entry_df = origin_country_df.groupby(['CORP_CREDIT_CODE', 'BUSINESS_NO']).agg({'entry': 'first', 'OWNER_CODE': 'first', 'OWNER_NAME': 'first'})
    entry_df['entry'] = entry_df['entry'].map(lambda x: "[" + x[: -1] + "]")
    entry_df['CONTEXT'] = entry_df.apply(lambda x: deal_context_dic(x), axis=1)
    entry_df['ID'] = 0
    entry_df["CUSTOMS_CODE"] = "2249"
    entry_df["TYPE_FIRST"] = "GNYTJKYJ"
    entry_df["TYPE_SECOND"] = "BSWL"
    entry_df["BUSINESS_TYPE"] = "61"
    entry_df["ORDER_TYPE"] = "trade"
    entry_df["RESOLVE_STATUS"] = "0"
    entry_df["RISK_LEVEL"] = "3"
    # entry_df["LABEL"] = "一二线原产国预警"
    entry_df["TRADE_CODE"] = entry_df["OWNER_CODE"]
    entry_df["CORP_NAME"] = entry_df["OWNER_NAME"]
    entry_df.drop(columns=['entry', 'OWNER_NAME', 'OWNER_CODE'], inplace=True)
    entry_df = entry_df.reset_index()
    print(entry_df)
    entry_df

     CORP_CREDIT_CODE         BUSINESS_NO  \
0  913100006929421297  913100006929421297

                                             CONTEXT  ID CUSTOMS_CODE  \
0  {"businessStartTime":"2022-06-07 20:53:13.9033...   0         2249

  TYPE_FIRST TYPE_SECOND BUSINESS_TYPE ORDER_TYPE RESOLVE_STATUS RISK_LEVEL  \
0   GNYTJKYJ        BSWL            61      trade              0          3

   TRADE_CODE     CORP_NAME
0  3122S60004  上海元初国际物流有限公司

In [17]:
entry_df

,CORP_CREDIT_CODE,BUSINESS_NO,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL,TRADE_CODE,CORP_NAME
0,913100006929421297,913100006929421297,"{""businessStartTime"":""2022-06-07 20:53:13.9033...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3,3122S60004,上海元初国际物流有限公司

In [95]:
Write_Oracle_Alarm().write_oracle('BD_RISK_CROSS_TRADE_WARAIN_TEMP', entry_df, org_code=None, alarm=None)
# clean 里面 写入到                 BD_RISK_CROSS_TRADE_RESULT_ORIGIN_COUNTRY_DIFFER_CLEAN

C:\Users\lenovo\AppData\Local\Temp\ipykernel_14520\2909733957.py:25: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  self.conn = create_engine(f"oracle+cx_oracle://{self.write_account}@{self.write_address}",

DW_CUS_RC/easipass
192.168.130.225:1521/pdbcusdev

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
2022-06-07 20:02:09.714 | INFO     | risk_models.config.read_config.read_func:read_oracle:73 - Read Table successfully! , Total read time spent 0.864s

   ID    CORP_CREDIT_CODE         BUSINESS_NO  \
0   2  913100006929421297  913100006929421297

                                             CONTEXT CUSTOMS_CODE TYPE_FIRST  \
0  {"businessStartTime":"2022-06-07 20:00:13.4802...         2249   GNYTJKYJ

  TYPE_SECOND BUSINESS_TYPE ORDER_TYPE RESOLVE_STATUS RISK_LEVEL  TRADE_CODE  \
0        BSWL            61      trade              0          3  3122S60004

      CORP_NAME
0  上海元初国际物流有限公司

2022-06-07 20:02:11.204 | INFO     | __main__:write_oracle:224 - Processing... Writing 1 rows into database
2022-06-07 20:02:11.466 | INFO     | __main__:write_oracle:230 - Insert data into BD_RISK_CROSS_TRADE_WARAIN_TEMP successfully! Total write time spent 2.617s

In [18]:
entry_df

,CORP_CREDIT_CODE,BUSINESS_NO,CONTEXT,ID,CUSTOMS_CODE,TYPE_FIRST,TYPE_SECOND,BUSINESS_TYPE,ORDER_TYPE,RESOLVE_STATUS,RISK_LEVEL,TRADE_CODE,CORP_NAME
0,913100006929421297,913100006929421297,"{""businessStartTime"":""2022-06-07 20:53:13.9033...",0,2249,GNYTJKYJ,BSWL,61,trade,0,3,3122S60004,上海元初国际物流有限公司

In [13]:
import json
entry_df['CONTEXT'][0]

'{"businessStartTime":"2022-06-07 20:51:30.565169","businessEndTime":"2022-06-07 20:51:30.565169","entry":"[{"entryId":"221620200000007959","entryIdCompare":"224920221000000700","comparison":"[{"code_t":"发动机","qty1":"10","originCountry":"AUS","codeTCompare":"发动机","qty1Compare":"10","originCountryCompare":"USA"}]","ownerCode":"91310000785178414H","ownerName":"施洁医疗技术（上海）有限公司","ownerCodeCompare":"913100007598565000","ownerNameCompare":"上海凯恩国际物流有限公司"}]"}'